body {
  background-color: #333;
}

.container {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
  top: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  padding: 10px;
  background-color: white;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn-save-slot {
  background-color: red;
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

